h1{
    color:teal;
    text-align:center;
    font-family: 'Courgette', cursive;
}
h2{
    color:teal;
    font-family: 'Courgette', cursive;
}
li{
    color:black;
    font-family: 'Patrick Hand', cursive;
}
h3{
    color:blue;
}
img{
    width:100px;
}
p{
    font-family: 'Merienda', cursive;
}
